{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": ["eslint-plugin-import-order-alphabetical", "prettier"],
  "rules": {
    "object-curly-newline": ["error", { "multiline": true }],
    "function-paren-newline": 0,
    "max-len": ["error", { "code": 80, "tabWidth": 2 }],
    "linebreak-style": ["error", "unix"],
    "no-cond-assign": ["error", "always"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "implicit-arrow-linebreak": 0,
    "no-unused-vars": "error",
    "no-console": "off",
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "import-order-alphabetical/order": "error",
    "prettier/prettier": "error",
    "semi": ["error", "never"]
  },
  "globals": {
    "context": "readonly",
    "it": "readonly",
    "cy": "readonly",
    "Cypress": "readonly"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
